

/* ==========================================================================
   Author's custom styles
   ========================================================================== */








body{
   padding-top: 50px;
}
.color1{
   background-color: #FAED3F;

}

.color5{
   background-color: #9EFD33;
   margin-left: 90px;

}






